body {
  background-color: #2e2c2c;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  width: 75%;
  margin: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

 input, textarea, button {
  margin-bottom: 10px; 
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
} 

textarea {
  height: 100px; 
}

button {
  background-color: rgb(20, 94, 168); 
  color: white;
  border: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
} 

.heading {
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #101113;
  color: rgb(20, 94, 168);
  border: 2px solid lightblue; /* Add a light blue border */
  border-radius: 5px; /* Add border-radius for a rounded border */
  box-shadow: 0 0 5px black; /* Add a black accent border using box-shadow */
}

.header-left {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.header-left h1 {
  margin: 0; 
}

.header-left p.sub-title {
  margin: 0; 
}

/* RIGHT SIDE OF HEADER */
.header-right {
  display: flex;
  align-items: center; 
}

.header-right ul {
  list-style: none;
  margin: 0; 
  padding: 0;
  display: flex;
}

.header-right li {
  
  margin-left: 15px; 
  
}

.header-right a {
  color: white;
  text-decoration: none;
  padding: 10px 15px; 
  border: 2px solid rgb(0, 0, 0); 
  border-radius: 5px;
  transition: background-color 0.3s ease; /* smooth transition */
  color: rgb(20, 94, 168);
}

.header-right a:hover {
  background-color: #222020; 
}

.header-right img {
  margin-left: 15px; 
  width: 60px; 
  height: auto; 
}
/* USER FORMS */
.auth-form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #222020;
  border: 2px solid lightblue;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}

.auth-form-title {
  text-align: center;
  margin-bottom: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form .error-message {
  text-align: center;
  color: red; /* You can choose your desired color for error messages */
}

.auth-form input {
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background-color: rgb(20, 94, 168);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: rgb(21, 105, 189);
}

.artist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-artist-button-container {
  width: 15%; /* Set a fixed width for the container */
  margin-top: 20px;
}

.add-artist-button {
  width: 100%; /* Make the button take 100% of the container width */
  padding: 10px;
  background-color: rgb(20, 94, 168);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
