body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  width: 75%;
  margin: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, textarea, button {
  margin-bottom: 10px; 
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

textarea {
  height: 100px; /* Adjust the height according to your preference */
}

button {
  background-color: #4caf50; 
  color: white;
  border: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.heading {
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333; /* Add your desired background color */
  color: white; /* Add your desired text color */
}

.header-left h1 {
  margin: 0; /* Remove default margin for h1 */
}

.header-right ul {
  list-style: none;
  margin: 0; /* Remove default margin for ul */
  padding: 0; /* Remove default padding for ul */
}

.header-right li {
  display: inline-block;
  margin-left: 15px; /* Adjust the margin as needed */
}

.header-right a {
  color: white; /* Add your desired link text color */
  text-decoration: none;
}